{% extends '::admin.html.twig' %}

{% block body -%}

    <div class="container">
        <div class="row">
            <h1>Liste des Photos</h1>

            <table class="records_list table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Position</th>
                        <th>Nom</th>
                        <th>Contributeur</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('pagePhoto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.position }}</td>
                        <td>{{ entity.nom }}</td>
                        <td>{{ entity.contributeur }}</td>
                        <td>{{ entity.description }}</td>
                        <td>{{ entity.file }}</td>
                        <td>
                        <ul>
                            <li>
                                <a href="{{ path('pagePhoto_show', { 'id': entity.id }) }}">Aperçu</a>
                            </li>
                            <li>
                                <a href="{{ path('pagePhoto_edit', { 'id': entity.id }) }}">Editer</a>
                            </li>
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('pagePhoto_new') }}" role="button">Ajouter une photo</a>

        </div>
    </div>
    
{% endblock %}
