{% extends '::admin.html.twig' %}

{% block body -%}

    <div class="container">
        <div class="row">
            <h1>Categories</h1>

            <table class="record_properties table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.nom }}</td>
                        <td> <a href="{{ path('pageCategorie_edit', { 'id': entity.id }) }}">Editer</a></td>
                    </tr>
                </tbody>
            </table>

            <ul class="record_actions">
                <li><a href="{{ path('pageCategorie') }}">Retour à la liste</a></li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </div>
    
{% endblock %}
